
#main-content {
	width: 1024px;
	height: 768px;
	background-color: #1abc9c;
	text-align: center;
	margin: 0 auto;

}

#logo {
	width: 200px;
	height: 100px;
	top: 20px;
	position: relative;
	background-color: #1abc9c;

}

.header { 
  margin: auto 0;
  overflow: hidden;
  margin: auto 0;
  text-align: center;
  text-transform: lowercase;
  position: relative;
}

#menu-image {
	position: relative;
	left: 100px;
}

#start {

}

#countdown {
	position: relative;
	left: 25px;
	top: -130px;
	font-size: 36px;
	color: #ecf0f1;

}

#timer {
	position: relative;
	display: block;
	height: 300px;
	width: 300px;
	background-color: #34495e;
	border-radius: 150px;
	margin: 0 auto;
	text-align: center;
}

#timer-form {
	display: block;
}


#text-field {
	height: 200px;
	width: 500px;
	position: relative;
	float: left;
	background-color: #34495e;
}

#letter {
	width: 60px;
	height: 60px;
	background-color: #ecf0f1;
	position: relative;
}
		
.score-block {
	height: 20px;
	margin-left: 50px;
	width: 50px;
	margin: 10px;
	background-color: #34495e;
	border-color: #ecf0f1;
	border-style: solid;
	border-width: 2px;
	position: relative;

}

.score-wrap {
	position: relative;
	float: left;
	width: 60px;
}

